.container{
    margin: 0 auto;
    max-width: 1400px;
    background-color: #f0ecf1;
}

.header{
    color: #1182c7;
    padding: 40px 80px;
    display: flex;
    height: 160px;
    justify-content: space-between;
    align-items:flex-start;
}

