.header{
    color: #1182c7;
    padding: 10px 60px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items:center;

    & a{
        color: #1182c7;
    }

    .links{
        display: flex;
        gap: 20px;
    }


}

.footer{
    height: 140px;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    & h2{
        color: #1182c7;
    }

    .top{ 
        & a{
            color: #1182c7;
        }
    } 
}


/*  */
