@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}
#root{
  margin: 0 auto;
  max-width: 1400px; 
  background-color: #dad5d5b3;
}
.activeLink{
  border-bottom: 2px solid #1182c7;
}
a{
  text-decoration: none;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.75rem;
}
h3{
  font-size: 1.25rem;
}
p{
  font-size: 1rem;
}

@media (max-width:1200px) {
  *{
    font-size: 18px;
  }
  
  
}

@media (min-width: 500px) and (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}



.lds-ripple {
  display: inline;
  position: relative;
  width: 80px;
  height:80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid orangered;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

 
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
